@import url(./styles/reset.css);
@import url(./styles/fonts.css);

html,
body {
	font-size: 16px;
	color: #fff;
	font-family: "Geomini";
}

.container {
	padding-inline: 1rem;

	@media screen and (width >= 1400px) {
		padding-inline: calc((100% - 1440px) / 2);
	}
}

header.container {
	background: #6eab7a;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-block: 1rem;
}

footer {
	background: #6eab7a;
	padding-block: 2rem;
	display: flex;
	justify-content: center;
}

main {
	background: #a1ba9d;
	padding-block: 4rem;
}

button {
	cursor: pointer;
	color: #fff;
}

.render-books {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	@media screen and (width >= 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (width >= 1400px) {
		grid-template-columns: repeat(3, 1fr);
	}

	grid-gap: 2rem;
	.book-card {
		height: 45em;
		background: rgb(17, 55, 21);
		padding: 1rem;

		.section-img {
			display: flex;
			justify-content: center;
			margin: 2rem;
		}

		table {
			width: 100%;
			th {
				vertical-align: top;
				width: 45%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			tr {
				text-align: left;
			}
		}

		.section-details {
			margin-bottom: 2rem;
			.price-and-like {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;

				.book-price {
					font-size: 1.5rem;
				}

				.book-favorite {
					display: flex;
					align-items: center;
					gap: 1rem;
				}
			}
		}

		.section-comments {
			.comment-list {
				height: 14em;
				overflow-y: auto;

				&::-webkit-scrollbar {
					width: 5px;
					height: 8px;
					background-color: #aaaaaa; /* or add it to the track */
				}

				/* Add a thumb */
				&::-webkit-scrollbar-thumb {
					background: #9affae;
				}

				table {
					margin-bottom: 1rem;
				}
			}

			.add-comment {
				margin-top: 2rem;
				display: flex;
				justify-content: space-around;
				gap: 0.5rem;
				input {
					height: 25px;
					padding: 1rem;
					width: 100%;
					background: #6eab7a;
					border: 0;
					color: white;
					border-radius: 5px;
					height: 50px;
					font-family: "Geomini";

					&::placeholder {
						color: white;
					}
				}

				.add-comment__button {
					width: 4rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 5px;

					&:hover {
						background-color: #6eab7a;
					}
				}
			}
		}
	}
}
